<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="stu.yang.dao.TbConstructionInteractionMapper">
    <resultMap id="TbConstructionInteractionMap" type="TbConstructionInteraction">
		<result column="id" property="id" jdbcType="DECIMAL" />
		<result column="land_no" property="landNo" jdbcType="VARCHAR" />
		<result column="construction_interaction_desc" property="constructionInteractionDesc" jdbcType="VARCHAR" />
		<result column="construction_interaction_type" property="constructionInteractionType" jdbcType="DECIMAL" />
		<result column="data_desc" property="dataDesc" jdbcType="VARCHAR" />
		<result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
		<result column="created_user" property="createdUser" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="tbConstructionInteractionColumns">
            id,
            land_no,
            construction_interaction_desc,
            construction_interaction_type,
            data_desc,
            created_at,
            created_user
    </sql>
    


<!-- 插入 -->
    <insert id="insert" parameterType="TbConstructionInteraction" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_construction_interaction
            <trim prefix="(" suffix=")" suffixOverrides=",">
                        <if test="landNo != null and landNo != ''">
                            land_no,
                        </if>
                        <if test="constructionInteractionDesc != null and constructionInteractionDesc != ''">
                            construction_interaction_desc,
                        </if>
                        <if test="constructionInteractionType != null and constructionInteractionType != ''">
                            construction_interaction_type,
                        </if>
                        <if test="dataDesc != null and dataDesc != ''">
                            data_desc,
                        </if>
                        <if test="createdAt != null and createdAt != ''">
                            created_at,
                        </if>
                        <if test="createdUser != null and createdUser != ''">
                            created_user,
                        </if>
            </trim>
        VALUES
             <trim prefix="(" suffix=")" suffixOverrides=",">
                        <if test="landNo != null and landNo != ''">
                            #{landNo,jdbcType=VARCHAR},
                        </if>
                        <if test="constructionInteractionDesc != null and constructionInteractionDesc != ''">
                            #{constructionInteractionDesc,jdbcType=VARCHAR},
                        </if>
                        <if test="constructionInteractionType != null and constructionInteractionType != ''">
                            #{constructionInteractionType,jdbcType=DECIMAL},
                        </if>
                        <if test="dataDesc != null and dataDesc != ''">
                            #{dataDesc,jdbcType=VARCHAR},
                        </if>
                        <if test="createdAt != null and createdAt != ''">
                            #{createdAt,jdbcType=TIMESTAMP},
                        </if>
                        <if test="createdUser != null and createdUser != ''">
                            #{createdUser,jdbcType=VARCHAR},
                        </if>
             </trim>
    </insert>


	
    <!-- 修改 -->
    <update id="update" parameterType="TbConstructionInteraction">
        <if test="_parameter != null">
            <if test="id != null and id > 0">
                update tb_construction_interaction set
        		        <if test="landNo != null and landNo != ''">
                        	land_no = #{landNo,jdbcType=VARCHAR},
        		        </if>
        		        <if test="constructionInteractionDesc != null and constructionInteractionDesc != ''">
                        	construction_interaction_desc = #{constructionInteractionDesc,jdbcType=VARCHAR},
        		        </if>
        		        <if test="constructionInteractionType != null and constructionInteractionType != ''">
                        	construction_interaction_type = #{constructionInteractionType,jdbcType=DECIMAL},
        		        </if>
        		        <if test="dataDesc != null and dataDesc != ''">
                        	data_desc = #{dataDesc,jdbcType=VARCHAR},
        		        </if>
        		        <if test="createdAt != null and createdAt != ''">
                        	created_at = #{createdAt,jdbcType=TIMESTAMP},
        		        </if>
        		        <if test="createdUser != null and createdUser != ''">
                        	created_user = #{createdUser,jdbcType=VARCHAR},
        		        </if>
                	id = #{id}
                where id = #{id}
            </if>
        </if>
    </update>

    <!-- 根据主键获取对象信息 -->
    <select id="getTbConstructionInteractionById" resultMap="TbConstructionInteractionMap" parameterType="java.lang.Integer">
        <if test="_parameter != null">
            select <include refid="tbConstructionInteractionColumns"/> from tb_construction_interaction
            where id = #{_parameter} and yn = 1
        </if>
    </select>


    <!-- 根据查询Bean获取数据集合，不带翻页 -->
    <select id="queryTbConstructionInteractionList" resultMap="TbConstructionInteractionMap"
            parameterType="stu.yang.domain.TbConstructionInteractionQuery">
        select <include refid="tbConstructionInteractionColumns"/> from tb_construction_interaction where <include refid="queryTbConstructionInteractionListWhere"/>
    </select>

    <!-- 根据查询Bean获取数据集合，翻页 -->
    <select id="queryTbConstructionInteractionListWithPage" resultMap="TbConstructionInteractionMap"
            parameterType="stu.yang.domain.TbConstructionInteractionQuery">
        select <include refid="tbConstructionInteractionColumns"/> from tb_construction_interaction where <include refid="queryTbConstructionInteractionListWhere"/>
        order by 
        <if test="sidx != null and sidx != ''">
              #{sidxColumn},jdbcType=VARCHAR}  
              <if test="sord != null and sord != ''">
                #{sord},jdbcType=VARCHAR}   
              </if>
        </if>
        <if test="sidx == null or sidx == ''">
              id desc 
        </if> 
        limit #{startIndex},#{pageSize}
    </select>

    <!-- 根据查询Bean查询-判断是否存在 -->
    <select id="exist" resultType="java.lang.Integer" parameterType="stu.yang.domain.TbConstructionInteractionQuery">
        select count(1) from tb_construction_interaction where <include refid="queryTbConstructionInteractionListWhere"/>
    </select>

    <!-- 根据查询Bean获取集合总数 -->
    <select id="queryTbConstructionInteractionCount" resultType="java.lang.Integer"
            parameterType="stu.yang.domain.TbConstructionInteractionQuery">
        select count(1) from tb_construction_interaction where <include refid="queryTbConstructionInteractionListWhere"/>
    </select>

    <!-- 删除信息-逻辑删除 -->
    <update id="delete" parameterType="TbConstructionInteraction">
        update tb_construction_interaction
        set yn = 0, update_user = #{updateUser,jdbcType=VARCHAR}
        where id = #{id}
    </update>
    

    <!-- 常用的查询Where条件 -->
    <sql id="queryTbConstructionInteractionListWhere">
    	yn = 1
        <if test="id != null and id != ''">
        	and id = #{id,jdbcType=DECIMAL}
        </if>
        <if test="landNo != null and landNo != ''">
        	and land_no = #{landNo,jdbcType=VARCHAR}
        </if>
        <if test="constructionInteractionDesc != null and constructionInteractionDesc != ''">
        	and construction_interaction_desc = #{constructionInteractionDesc,jdbcType=VARCHAR}
        </if>
        <if test="constructionInteractionType != null and constructionInteractionType != ''">
        	and construction_interaction_type = #{constructionInteractionType,jdbcType=DECIMAL}
        </if>
        <if test="dataDesc != null and dataDesc != ''">
        	and data_desc = #{dataDesc,jdbcType=VARCHAR}
        </if>
        <if test="createdAt != null and createdAt != ''">
        	and created_at = #{createdAt,jdbcType=TIMESTAMP}
        </if>
        <if test="createdUser != null and createdUser != ''">
        	and created_user = #{createdUser,jdbcType=VARCHAR}
        </if>
    </sql>
</mapper>