<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="stu.yang.dao.TbUserMapper">
    <resultMap id="TbUserMap" type="TbUser">
		<result column="id" property="id" jdbcType="DECIMAL" />
		<result column="account" property="account" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <sql id="tbUserColumns">
            id,
            account,
            password,
            name,
            created_at
    </sql>
    


<!-- 插入 -->
    <insert id="insert" parameterType="TbUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_user
            <trim prefix="(" suffix=")" suffixOverrides=",">
                        <if test="account != null and account != ''">
                            account,
                        </if>
                        <if test="password != null and password != ''">
                            password,
                        </if>
                        <if test="name != null and name != ''">
                            name,
                        </if>
                        <if test="createdAt != null and createdAt != ''">
                            created_at,
                        </if>
            </trim>
        VALUES
             <trim prefix="(" suffix=")" suffixOverrides=",">
                        <if test="account != null and account != ''">
                            #{account,jdbcType=VARCHAR},
                        </if>
                        <if test="password != null and password != ''">
                            #{password,jdbcType=VARCHAR},
                        </if>
                        <if test="name != null and name != ''">
                            #{name,jdbcType=VARCHAR},
                        </if>
                        <if test="createdAt != null and createdAt != ''">
                            #{createdAt,jdbcType=TIMESTAMP},
                        </if>
             </trim>
    </insert>


	
    <!-- 修改 -->
    <update id="update" parameterType="TbUser">
        <if test="_parameter != null">
            <if test="id != null and id > 0">
                update tb_user set
        		        <if test="account != null and account != ''">
                        	account = #{account,jdbcType=VARCHAR},
        		        </if>
        		        <if test="password != null and password != ''">
                        	password = #{password,jdbcType=VARCHAR},
        		        </if>
        		        <if test="name != null and name != ''">
                        	name = #{name,jdbcType=VARCHAR},
        		        </if>
        		        <if test="createdAt != null and createdAt != ''">
                        	created_at = #{createdAt,jdbcType=TIMESTAMP},
        		        </if>
                	id = #{id}
                where id = #{id}
            </if>
        </if>
    </update>

    <!-- 根据主键获取对象信息 -->
    <select id="getTbUserById" resultMap="TbUserMap" parameterType="java.lang.Integer">
        <if test="_parameter != null">
            select <include refid="tbUserColumns"/> from tb_user
            where id = #{_parameter} and yn = 1
        </if>
    </select>


    <!-- 根据查询Bean获取数据集合，不带翻页 -->
    <select id="queryTbUserList" resultMap="TbUserMap"
            parameterType="stu.yang.domain.TbUserQuery">
        select <include refid="tbUserColumns"/> from tb_user where <include refid="queryTbUserListWhere"/>
    </select>

    <!-- 根据查询Bean获取数据集合，翻页 -->
    <select id="queryTbUserListWithPage" resultMap="TbUserMap"
            parameterType="stu.yang.domain.TbUserQuery">
        select <include refid="tbUserColumns"/> from tb_user where <include refid="queryTbUserListWhere"/>
        order by 
        <if test="sidx != null and sidx != ''">
              #{sidxColumn},jdbcType=VARCHAR}  
              <if test="sord != null and sord != ''">
                #{sord},jdbcType=VARCHAR}   
              </if>
        </if>
        <if test="sidx == null or sidx == ''">
              id desc 
        </if> 
        limit #{startIndex},#{pageSize}
    </select>

    <!-- 根据查询Bean查询-判断是否存在 -->
    <select id="exist" resultType="java.lang.Integer" parameterType="stu.yang.domain.TbUserQuery">
        select count(1) from tb_user where <include refid="queryTbUserListWhere"/>
    </select>

    <!-- 根据查询Bean获取集合总数 -->
    <select id="queryTbUserCount" resultType="java.lang.Integer"
            parameterType="stu.yang.domain.TbUserQuery">
        select count(1) from tb_user where <include refid="queryTbUserListWhere"/>
    </select>

    <!-- 删除信息-逻辑删除 -->
    <update id="delete" parameterType="TbUser">
        update tb_user
        set yn = 0, update_user = #{updateUser,jdbcType=VARCHAR}
        where id = #{id}
    </update>
    

    <!-- 常用的查询Where条件 -->
    <sql id="queryTbUserListWhere">
    	yn = 1
        <if test="id != null and id != ''">
        	and id = #{id,jdbcType=DECIMAL}
        </if>
        <if test="account != null and account != ''">
        	and account = #{account,jdbcType=VARCHAR}
        </if>
        <if test="password != null and password != ''">
        	and password = #{password,jdbcType=VARCHAR}
        </if>
        <if test="name != null and name != ''">
        	and name = #{name,jdbcType=VARCHAR}
        </if>
        <if test="createdAt != null and createdAt != ''">
        	and created_at = #{createdAt,jdbcType=TIMESTAMP}
        </if>
    </sql>
</mapper>